# Config de Sistema e Impresoras
TZ=Europe/Madrid
IP_START=X
IP_END=Y
SNMP_COMMUNITY=public
POLL_INTERVAL=120

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_username@your_domain.com
SMTP_PASS=your_password
ALERT_EMAIL_TO=alert@your_domain.com